<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="personalForm" class="w-full flex justify-center">
    <form [formGroup]="personalForm" class="flex flex-col gap-2 w-full pt-5">
      <ng-template matStepLabel>Datos personales</ng-template>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Nombres</mat-label>
          <input
            matInput
            formControlName="nombres"
            placeholder="Ingrese sus nombres"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Apellidos</mat-label>
          <input
            matInput
            formControlName="apellidos"
            placeholder="Ingrese sus apellidos"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            formControlName="telefono"
            placeholder="Ingrese su número de teléfono"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Celular</mat-label>
          <input
            matInput
            formControlName="celular"
            placeholder="Ingrese su número de celular"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Fecha de nacimiento</mat-label>
          <div class="flex justify-between">
            <input
              matInput
              formControlName="fecha_origen"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Correo</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Ingrese su correo electrónico"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Ingrese su contraseña"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Cargo</mat-label>
          <input
            matInput
            formControlName="cargo"
            placeholder="Ingrese su cargo"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Forma de enterado</mat-label>
          <input
            matInput
            formControlName="forma_enterado"
            placeholder="Ingrese la forma de enterado"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Otra forma de entreado</mat-label>
          <input
            matInput
            formControlName="otro_forma_enterado"
            placeholder="Ingrese otra forma de enterado"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex">
        <button
          mat-button
          color="primary"
          [disabled]="personalForm.invalid"
          matStepperNext
        >
          Continuar
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="companyForm">
    <form [formGroup]="companyForm" class="pt-5">
      <ng-template matStepLabel>Datos de la empresa</ng-template>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Empresa</mat-label>
          <input
            matInput
            formControlName="nombre_empresa"
            placeholder="Ingrese el nombre de la empresa"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Razón social</mat-label>
          <input
            matInput
            formControlName="razon_social"
            placeholder="Ingrese la razón social"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full xl:w-1/2">
          <mat-label>Url de la empresa</mat-label>
          <input
            matInput
            formControlName="url_empresa"
            placeholder="Ingrese la url de la empresa"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Hombres</mat-label>
          <input
            matInput
            formControlName="hombres"
            placeholder="Ingrese la cantidad de hombres"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Mujeres</mat-label>
          <input
            matInput
            formControlName="mujeres"
            placeholder="Ingrese la cantidad de mujeres"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>No binarios</mat-label>
          <input
            matInput
            formControlName="no_binario"
            placeholder="Ingrese la cantidad de personas no binarias"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Visión</mat-label>
          <textarea
            matInput
            formControlName="vision"
            placeholder="Ingrese la visión de la empresa"
            rows="3"
            required
          ></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Misión</mat-label>
          <textarea
            matInput
            formControlName="mision"
            placeholder="Ingrese la misión de la empresa"
            rows="3"
            required
          ></textarea>
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Clientes</mat-label>
          <textarea
            matInput
            formControlName="clientes"
            placeholder="Ingrese sus clientes"
            rows="3"
            required
          ></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Usuarios</mat-label>
          <textarea
            matInput
            formControlName="usuarios"
            placeholder="Ingrese sus usuarios"
            rows="3"
            required
          ></textarea>
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Aliados</mat-label>
          <textarea
            matInput
            formControlName="aliados"
            placeholder="Ingrese sus aliados"
            rows="3"
            required
          ></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Grupos de interés</mat-label>
          <textarea
            matInput
            formControlName="grupos_de_interes"
            placeholder="Ingrese sus grupos de interés"
            rows="3"
            required
          ></textarea>
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Competencia</mat-label>
          <textarea
            matInput
            formControlName="competencia"
            placeholder="Ingrese su competencia"
            rows="3"
            required
          ></textarea>
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-radio-group
          class="w-full md:w-1/2 text-base"
          formControlName="participado_en_programas_de_aceleracion"
          required
        >
          <mat-label>¿Está participando en programas de aceleración?</mat-label>
          <div class="flex gap-2">
            <mat-radio-button class="w-1/2" value="si"> Si </mat-radio-button>
            <mat-radio-button class="w-1/2" value="no"> No </mat-radio-button>
          </div>
        </mat-radio-group>

        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Nombre del programa</mat-label>
          <input
            matInput
            formControlName="cual_programa"
            placeholder="Ingrese el nombre del programa"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col gap-2 w-full" formGroupName="nivel_de_ventas">
        <mat-label class="text-xl">Nivel de ventas</mat-label>
        <div class="flex flex-col md:flex-row gap-2 w-full">
          <mat-form-field appearance="fill" class="w-full md:w-1/2">
            <mat-label>Primer año</mat-label>
            <input
              matInput
              formControlName="anio_1"
              placeholder="Ingrese las ventas del primer año"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full md:w-1/2">
            <mat-label>Segundo año</mat-label>
            <input
              matInput
              formControlName="anio_2"
              placeholder="Ingrese las ventas del segundo año"
              required
            />
          </mat-form-field>
        </div>

        <div class="flex flex-col md:flex-row gap-2 w-full">
          <mat-form-field appearance="fill" class="w-full md:w-1/2">
            <mat-label>Tercer año</mat-label>
            <input
              matInput
              formControlName="anio_3"
              placeholder="Ingrese las ventas del tercer año"
              required
            />
          </mat-form-field>
        </div>
      </div>

      <div class="flex gap-2">
        <button mat-button matStepperPrevious>Regresar</button>
        <button
          mat-button
          color="primary"
          [disabled]="companyForm.invalid"
          matStepperNext
        >
          Continuar
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="addressForm">
    <form [formGroup]="addressForm" class="pt-5">
      <ng-template matStepLabel>Datos del domicilio</ng-template>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Lugar de intervención</mat-label>
          <input
            matInput
            formControlName="geografia_intervencion"
            placeholder="Ingrese el lugar de intervención"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Código postal</mat-label>
          <input
            matInput
            formControlName="cp"
            placeholder="Ingrese el código postal"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Número de calle</mat-label>
          <input
            matInput
            formControlName="calle_numero"
            placeholder="Ingrese el número de calle"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Colonia</mat-label>
          <input
            matInput
            formControlName="colonia"
            placeholder="Ingrese la colonia"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Delegación/municipio</mat-label>
          <input
            matInput
            formControlName="delegacion_municipio"
            placeholder="Ingrese el municipio o delegación"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>Ciudad</mat-label>
          <input
            matInput
            formControlName="ciudad"
            placeholder="Ingrese la ciudad"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row gap-2 w-full">
        <mat-form-field appearance="fill" class="w-full md:w-1/2">
          <mat-label>País</mat-label>
          <input
            matInput
            formControlName="pais"
            placeholder="Ingrese el país"
            required
          />
        </mat-form-field>
      </div>

      <div class="flex gap-2">
        <button mat-button matStepperPrevious>Regresar</button>
        <button
          mat-button
          color="primary"
          [disabled]="addressForm.invalid"
          (click)="signup()"
        >
          Guardar
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
