<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="personalForm">
    <ng-template matStepLabel>Datos personales</ng-template>

    <app-personal-form [form]="personalForm"></app-personal-form>

    <div class="flex">
      <button
        mat-button
        color="primary"
        [disabled]="personalForm.invalid"
        matStepperNext
      >
        Continuar
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="companyForm">
    <ng-template matStepLabel>Datos de la empresa</ng-template>

    <app-company-form [form]="companyForm"></app-company-form>

    <div class="flex gap-2">
      <button mat-button matStepperPrevious>Regresar</button>
      <button
        mat-button
        color="primary"
        [disabled]="companyForm.invalid"
        matStepperNext
      >
        Continuar
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="addressForm">
    <ng-template matStepLabel>Datos del domicilio</ng-template>

    <app-address-form [form]="addressForm"></app-address-form>

    <div class="flex gap-2">
      <button mat-button matStepperPrevious>Regresar</button>
      <button
        mat-button
        color="primary"
        [disabled]="addressForm.invalid"
        (click)="signup()"
      >
        Guardar
      </button>
    </div>
  </mat-step>
</mat-stepper>
