<section class="flex justify-center mt-40">
  <mat-card class="w-full md:w-1/2 lg:w-1/3">
    <mat-card-content>
      <form [formGroup]="loginForm" class="flex flex-col gap-2">
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input type="email" formControlName="username" matInput />
          <mat-error *ngIf="loginForm.controls['username'].hasError('email')">
            Ingresa un correo válido
          </mat-error>
          <mat-error
            *ngIf="loginForm.controls['username'].hasError('required')"
          >
            El usuario es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" formControlName="password" matInput />
          <mat-error
            *ngIf="loginForm.controls['password'].hasError('required')"
          >
            La contraseña es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button
        class="w-full"
        mat-flat-button
        color="primary"
        [disabled]="loginForm.invalid"
        (click)="login()"
      >
        Iniciar sesión
      </button>
    </mat-card-actions>

    <div class="flex gap-2 justify-center">
      <label>¿Aún no tienes una cuenta?</label>
      <a
        class="text-blue-600 hover:text-blue-400 cursor-pointer"
        href="/signup"
      >
        ¡Registráte!
      </a>
    </div>
  </mat-card>
</section>
